<div class="d1">
  <h1>Atividade 03</h1>
  <div  class="d2">
    <div class="example-button-container">
      <button (click)="menos_um()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" >
        <mat-icon>-</mat-icon>
      </button>
    </div>

    <p>{{valorInput2}}</p>

    <div class="example-button-container">
      <button (click)="mais_um()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" >
        <mat-icon>+</mat-icon>
      </button>
    </div>
  </div>
</div>